@import './base.css';

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

a,
.red {
  text-decoration: none;
  color: var(--vt-c-red-soft);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--vt-c-red-soft);
    color: var(--vt-c-white);
  }
}

.title {
    display: flex;
    flex-grow: 100;
    flex-direction: row;
    padding: 10px;
    align-items: end;
    justify-content: center;
    img {
        height: 70px;
        padding: 10px;
    }
}

h1 {
    color: var(--color-heading);
    font-size: 100px;
    font-weight: bold;
    line-height: 1;
}

nav {
    flex-grow: 100;
    padding: 20px;
    a {
        padding: 10px;
    }
}

main {
    padding: 10px;
}

ul {
    width: 100%;
}

.search {
    flex-grow: 100;
    input {
        width: 100%;
        max-width: 600px;
        padding: 20px;
        font-size: 18px;
    }
}

output {
    flex-grow: 100;
    padding: 10px;
    justify-content: center;
    display: flex;
}

ul {
    padding-left: 0px;
    padding-bottom: 20px;
}

h2 {
    padding-bottom: 20px;
}

p {
    padding-bottom: 20px;
}

input {
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

nav li {
    display: inline;
}

li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    column-gap: 20px;
    .first-result {
        text-align: right;
        width: 50%;
    }
    .second-result {
        text-align: left;
        width: 50%;
    }
    img {
        height: 20px;
    }
}

html {
    overflow-y: scroll;
}

@media screen and (max-width: 600px) {
    #app {
        padding: 2px;
    }
    h1 {
        font-size: 50px;
    }

    .title {
        padding: 2px;
        img {
            height: 30px;
            padding: 2px;
            padding-bottom: 8px;
        }
    }
    main {
        padding: 2px;
    }
    nav {
        padding: 2px;
    }

    .search {
        input {
            padding: 10px;
            font-size: 16px;
        }
    }

    output {
        padding: 5px;
    }
}

